EIO:CFG_1.0:6:1::
#
INDUSTRIAL_NETWORK:

      -Name "PROFINET" -Connection "PROFINET Network"\
      -Label "PROFINET Controller/Device Network" -StationName "ABBRoboter"
#
ETHERNETIP_DEVICE:

      -Name "Local_IO" -VendorName "ABB Robotics" -ProductName "DSQC1030"\
      -Label "ABB Local I/O Device" -Address "192.168.125.100" -VendorId 75\
      -ProductCode 29 -DeviceType 12 -OutputAssembly 100 -InputAssembly 101\
      -ConfigurationAssembly 102 -InputConnectionType "POINT2POINT"\
      -ConnectionPriority "SCHEDULE" -OutputSize 2 -InputSize 2\
      -ConfigurationSize 8\
      -ConfigurationData00 "01 02 09 10 01 08 10 01 00 00 00 00 00 00 00 00"\
      -O2T_RPI 40000 -T2O_RPI 40000
#
PROFINET_DRIVER:

      -Name "PROFINET_COMMON_DATA"
#
PROFINET_INTERNAL_DEVICE:

      -Name "PN_Internal_Device" -VendorName "ABB Robotics"\
      -ProductName "PROFINET Internal Device"
#
EIO_SIGNAL:

      -Name "Local_IO_0_DO1" -SignalType "DO" -Device "Local_IO" -DeviceMap "0"

      -Name "Local_IO_0_DO2" -SignalType "DO" -Device "Local_IO" -DeviceMap "1"

      -Name "Local_IO_0_DO3" -SignalType "DO" -Device "Local_IO" -DeviceMap "2"

      -Name "Local_IO_0_DO4" -SignalType "DO" -Device "Local_IO" -DeviceMap "3"

      -Name "Local_IO_0_DO5" -SignalType "DO" -Device "Local_IO" -DeviceMap "4"

      -Name "Local_IO_0_DO6" -SignalType "DO" -Device "Local_IO" -DeviceMap "5"

      -Name "Local_IO_0_DO7" -SignalType "DO" -Device "Local_IO" -DeviceMap "6"

      -Name "Local_IO_0_DO8" -SignalType "DO" -Device "Local_IO" -DeviceMap "7"

      -Name "Local_IO_0_DO9" -SignalType "DO" -Device "Local_IO" -DeviceMap "8"

      -Name "Local_IO_0_DO10" -SignalType "DO" -Device "Local_IO" -DeviceMap "9"

      -Name "Local_IO_0_DO11" -SignalType "DO" -Device "Local_IO"\
      -DeviceMap "10"

      -Name "Local_IO_0_DO12" -SignalType "DO" -Device "Local_IO"\
      -DeviceMap "11"

      -Name "Local_IO_0_DO13" -SignalType "DO" -Device "Local_IO"\
      -DeviceMap "12"

      -Name "Local_IO_0_DO14" -SignalType "DO" -Device "Local_IO"\
      -DeviceMap "13"

      -Name "Local_IO_0_DO15" -SignalType "DO" -Device "Local_IO"\
      -DeviceMap "14"

      -Name "Local_IO_0_DO16" -SignalType "DO" -Device "Local_IO"\
      -DeviceMap "15"

      -Name "Local_IO_0_DI1" -SignalType "DI" -Device "Local_IO" -DeviceMap "0"

      -Name "Local_IO_0_DI2" -SignalType "DI" -Device "Local_IO" -DeviceMap "1"

      -Name "Local_IO_0_DI3" -SignalType "DI" -Device "Local_IO" -DeviceMap "2"

      -Name "Local_IO_0_DI4" -SignalType "DI" -Device "Local_IO" -DeviceMap "3"

      -Name "Local_IO_0_DI5" -SignalType "DI" -Device "Local_IO" -DeviceMap "4"

      -Name "Local_IO_0_DI6" -SignalType "DI" -Device "Local_IO" -DeviceMap "5"

      -Name "Local_IO_0_DI7" -SignalType "DI" -Device "Local_IO" -DeviceMap "6"

      -Name "Local_IO_0_DI8" -SignalType "DI" -Device "Local_IO" -DeviceMap "7"

      -Name "Local_IO_0_DI9" -SignalType "DI" -Device "Local_IO" -DeviceMap "8"

      -Name "Local_IO_0_DI10" -SignalType "DI" -Device "Local_IO" -DeviceMap "9"

      -Name "Local_IO_0_DI11" -SignalType "DI" -Device "Local_IO"\
      -DeviceMap "10"

      -Name "Local_IO_0_DI12" -SignalType "DI" -Device "Local_IO"\
      -DeviceMap "11"

      -Name "Local_IO_0_DI13" -SignalType "DI" -Device "Local_IO"\
      -DeviceMap "12"

      -Name "Local_IO_0_DI14" -SignalType "DI" -Device "Local_IO"\
      -DeviceMap "13"

      -Name "Local_IO_0_DI15" -SignalType "DI" -Device "Local_IO"\
      -DeviceMap "14"

      -Name "Local_IO_0_DI16" -SignalType "DI" -Device "Local_IO"\
      -DeviceMap "15"
