<?xml version="1.0" encoding="UTF-8"?>
<SystemProperties>
  <SystemName>Camille</SystemName>
  <SerialNo>15000-100217</SerialNo>
  <UsedMedia>
    <Media path="RobotOS_6.0.1" name="RobotOS" version="6.0.1+0" versionName="6.0.1"/>
    <Media path="RobotControl_7.7.1" name="RobotControl" version="7.7.1+296" versionName="7.7.1"/>
    <Media path="Wizard_1.4.3" name="Wizard" version="1.4.3" versionName="1.4.3"/>
    <Media path="Robots_1.7.1" name="Robots" version="1.7.1+50" versionName="1.7.1"/>
    <Media path="ASI_1.0.6" name="ASI" version="1.0.6" versionName="1.0.6"/>
    <Media path="Apps_1.9.0" name="FlexPendantSoftwareUpdate" version="1.9.0+0" versionName="1.9.0"/>
  </UsedMedia>
  <ControlModule>
    <Option descr="RobotControl Base"/>
    <Option descr="3020-2 PROFINET Device"/>
    <Option descr="3121-1 RW Add-In Prepared"/>
    <Option descr="3119-1 RobotStudio Connect"/>
    <Option descr="3106-1 World Zones"/>
    <Option descr="3113-1 Path Recovery"/>
    <Option descr="3107-1 Collision Detection"/>
    <Option descr="3150-1 Collision Avoidance"/>
    <Option descr="3116-1 FTP and SFTP client"/>
    <Option descr="3120-2 FlexPendant Essential App Package"/>
    <Option descr="3151-1 FlexPendant Program Package"/>
    <Option descr="3114-1 Multitasking"/>
    <Option descr="3124-1 Externally Guided Motion (EGM)"/>
    <Option descr="UDPUC Driver"/>
    <Option descr="3043-3 SafeMove Collaborative"/>
    <Option descr="3044-2 Keyless Mode Switch, 2 modes"/>
    <Option descr="3415-1 Force Control"/>
    <Option descr="Leadthrough"/>
    <Option descr="Safe Move Plug and Play"/>
    <Option descr="No Category 0"/>
  </ControlModule>
  <DriveModule>
    <Name>Robot1</Name>
    <Option descr="Motor Commutation"/>
    <Option descr="Service Info System"/>
    <Option descr="C30-D7 for CRB 15000"/>
  </DriveModule>
  <AdditionalOption>
    <Name>Wizard</Name>
    <Option descr="Wizard"/>
  </AdditionalOption>
  <AdditionalOption>
    <Name>Robots</Name>
    <Option descr="CRB 15000-5/0.95"/>
  </AdditionalOption>
  <AdditionalOption>
    <Name>ASI</Name>
    <Option descr="ASI"/>
  </AdditionalOption>
  <AdditionalOption>
    <Name>FlexPendantSoftwareUpdate</Name>
    <Option descr="FlexPendant App Package"/>
  </AdditionalOption>
</SystemProperties>
