<?xml version="1.0" ?>
<!--
  Manipulator specific version of the state visualizer.
  Usage:
    robot_state_visualize.launch robot_ip:=<value>
-->
<launch>
  <arg name="robot_ip" />
  <arg name="J23_coupled" default="false" />

  <arg name="rvizconfig" default="$(find abb_irbt6004_670_support)/rviz/urdf.rviz" />
  <arg name="model" default="$(find abb_irbt6004_670_support)/urdf/abb_irb6700_175_305_ibois.urdf"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  
  <rosparam command="load" file="$(find abb_irbt6004_670_support)/config/joint_names_abb_irb6700_175_305_ibois.yaml" />
  
  <include file="$(find abb_driver)/launch/robot_interface.launch">
    <arg name="robot_ip"    value="$(arg robot_ip)" />
    <arg name="J23_coupled" value="$(arg J23_coupled)" />
  </include>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find industrial_robot_client)/config/robot_state_visualize.rviz" required="true" />
</launch>