<?xml version="1.0"?>
<robot name="aurora_iris" xmlns:xacro="http://ros.org/wiki/xacro">


  <!--linking another xacro file of the robot without rail-->
  <xacro:include filename="$(find abb_irbt6004_670_tworobots_moveit_config)/urdf/abb_irb6700_175_305_ibois_macro.xacro"/>
  <xacro:include filename="$(find abb_irbt6004_670_tworobots_moveit_config)/urdf/abb_irb6700_175_305_crcl_macro.xacro"/>

  <link name="world" />

  <joint name="world_joint1" type="fixed">
      <parent link="world" />
      <child link = "rob1_axis" />
      <origin xyz="0.0 0.0 0.0" rpy="0.0006690539774448019 0.000669029972214783 0.00003588000859488913" /> <!--translation of the track-->
  </joint>

  <xacro:abb_irb6700_175_305_ibois prefix="rob1_" /> <!--robot with different base rotation-->


  <joint name="world_joint2" type="fixed">
      <parent link="world" />
      <child link = "rob2_axis" />
      <origin xyz="6.3145407114902 3.6055713818138 0.0019451920794" rpy="-0.0071789973774038915 -0.005247652228420866 -3.1404366692360592" /> <!--translation of the track-->
  </joint>

  <xacro:abb_irb6700_175_305_crcl prefix="rob2_" /> <!--robot with different base rotation-->


</robot>